h1{
	text-align: center;
	margin-top: 2%;
}

.indexCajaTexto h2 {

    padding: 0;
    margin: 0 0 5px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 15px;
    color: #0071d1;
}

.paddingArriba img{
    width: 50%;
}


.indexCajaTexto p {
    margin-bottom: 15px;
}
.indexCajaTexto .cabecera {
    padding-top: 10px;
    font-size: 16px;
    font-style: normal;
    color: #999;
    padding-bottom: 0;
    font-weight: bold;
}
.indexCajaTexto h2 {
    font-size: 38px;
    font-weight: bold;
    padding: 0 0 10px;
    margin: 0;
    line-height: 62px;
    margin-top: 0;
    text-transform: none;
}
.row.paddingArriba{
    padding-top: 69px;
    padding-left: 150px;
    padding-right: 75px;
}

.row.paddingArriba.quienesSomos {
    padding-top: 69px;
    padding-left: 257px;
    padding-right: 0px;
}

.paddingArriba.quienesSomos img {
    width: 40%;
}






.indexCajaTexto p {
    margin-bottom: 20px;
    font-size: 30px;
}

.indexCajaTexto .cabecera {
    padding-top: 10px;
    font-size: 19px;
    font-style: italic;
    color: #999;
    padding-bottom: 0;
}

.cabecera {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}